* {
  box-sizing: border-box;
}

.about {
  text-align: center;
  padding: 0 100px;
  h1 {
    padding: 20px;
  }
  p {
    padding: 10px;
  }
  img {
    height: 300px;
    border-radius: 50%;
    padding: 10px;
  }
  .about-content {
    display: flex;
  }
}
