.projects {
  text-align: center;
  padding-top: 50px;
  .card {
    height: 500px;
    transition: ease 200ms;
    img {
      height: 50%;
      object-fit: cover;
    }
    &:hover {
      transform: scale(1.03);
    }
    .link {
      color: #131313;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
