.projects {
  text-align: center;
  h1 {
    font-size: 60px;
    padding: 20px;
  }
  .card {
    transition: ease 200ms;
    &:hover {
      transform: scale(1.03);
    }
    .link {
      color: #131313;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
