.sidebar {
  // a {
  //   margin: 60px 0px 0px 10px;
  //   text-decoration: none;
  //   font-size: 25px;
  //   color: #f1f1f1;
  //   display: block;
  //   transition: transform 0.4s;
  //   &:hover {
  //     color: #131313;
  //     transform: translateX(-15px);
  //   }
  //   &:active {
  //     color: #131313;
  //     transform: translateX(-15px);
  //   }
  // }
  .navbar-toggler:focus {
    box-shadow: none;
  }
}

@media (min-width: 1024px) {
  nav {
    display: flex;
    flex-direction: column;
    .sidebar {
      height: 100vh;
      //max-width: 250px;
      //position: absolute;
      // position: fixed;
      //  z-index: 1;
      top: 0;
      left: 0;
      .navbar-brand {
        display: none;
      }
      .navbar-nav {
        flex-direction: column;
        //position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        justify-content: center;
      }
      a {
        padding: 0;
        margin: 30px 0px;
        text-decoration: none;
        font-size: 25px;
        color: #f1f1f1;
        display: block;
        transition: transform 0.4s;
        &:hover {
          color: #131313;
          transform: translateX(-15px);
        }
        &:active {
          color: #131313;
          transform: translateX(-15px);
        }
      }
    }
  }
}
