.sidebar .navbar-toggler:focus {
  box-shadow: none;
}

nav {
  .sidebar {
    a {
      padding: 0;
      margin: 0px 0px 20px 20px;
      text-decoration: none;
      color: #f1f1f1;
      display: block;
      transition: transform 0.4s;
      &:hover {
        color: #131313;
        transform: translateX(-10px);
      }
      &:active {
        color: #131313;
        transform: translateX(-10px);
      }
    }
  }
}

@media (min-width: 992px) {
  nav {
    display: flex;
    flex-direction: column;
    .sidebar {
      height: 100vh;
      top: 0;
      left: 0;
      .navbar-brand {
        display: none;
      }
      .navbar-nav {
        flex-direction: column;
        top: 0;
        left: 0;
        height: 100vh;
        justify-content: center;
      }
      a {
        padding: 0;
        margin: 30px 0px;
        text-decoration: none;
        font-size: 25px;
        color: #f1f1f1;
        display: block;
        transition: transform 0.4s;
        &:hover {
          color: #131313;
          transform: translateX(-15px);
        }
        &:active {
          color: #131313;
          transform: translateX(-15px);
        }
      }
    }
  }
}
