$theme-colors: (
  'primary': #af87dd,
  'secondary': #f1f1f1,
  'black': #131313,
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  background-color: #af87dd;
  color: #f1f1f1;
}

@import '~bootstrap/scss/bootstrap.scss';
