$theme-colors: (
  'primary': #af87dd,
  'secondary': #f1f1f1,
);

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  background-color: #af87dd;
  color: #f1f1f1;
  overflow: hidden;
}

.sidebar {
  height: 100%;
  max-width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 100px;
}

.sidebar a {
  margin: 60px 0px 0px 10px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: transform 0.4s;
}

.sidebar a:hover {
  color: #131313;
  transform: translateX(-15px);
}
.sidebar a.active {
  color: #131313;
  transform: translateX(-15px);
}

.footer-icon {
  transition: transform 0.4s;
}
.footer-icon:hover {
  transform: translateY(-10px);
}

.home {
  text-align: center;
  margin-top: 15%;
}

.home h1 {
  font-size: 84px;
  margin: 40px;
}

.typed {
  font-size: 24px;
}

.projects {
  text-align: center;
  margin-top: 5%;
}

@import '~bootstrap/scss/bootstrap.scss';
